* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

header {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

ul li a {
    padding: 0 20px;
    text-decoration: none;
    color: #3a3a3a;
}

li a::after {
    content: "";
    display: block;
    width: 0;
    height: 4px;
    background: #c4c4f7;
    transition: all .5s;
}

li a:hover::after {
    width: 70%;
}

main {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 100px);
    align-items: center;
    justify-content: center;
}

.hero-img {
    max-width: 670px;
    height: auto;
}
.content-left {
    width: 30%;
}


main h1 {
    font-size: 54px;
    color: #133b4f;
    text-transform: uppercase;
}

main h2 {
    font-size: 25px;
    color: #fca70c;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 8px;
}

.main p {
    font-size: 14px;
    font-weight: 400;
    color: #333;
    line-height: 31.5px;
    margin: 30px 0;
}

.cta {
    padding: 15px 30px;
    background: #c4c4f7;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 50px;
}

.signup-btn {
    padding: 10px 20px;
    background: #c4c4f7;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 50px;
}