* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    min-height: 100vh;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass {
    background: white;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
}

.circle1, .circle2{
    background: white;
    background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
    );
    height: 15rem;
    width: 15rem;
    position: absolute;
    border-radius: 50%;
}

.circle1 {
    top: 5%;
    right: 10%;
    /* background: red; */
}

.circle2 {
    bottom: 5%;
    left: 10%;
}







































@media screen and (max-width:950px) {
    body {
        background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    }

    main {
        margin-top: 2rem;
    }
    .circle1, .circle2 {
        height: 10rem;
        width: 10rem;
    }

    .glass {
        /* min-height: 60vh; */
        /* width: 55%; */
    }

}