* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: #426696;
    font-weight: 600;
    font-size: 3rem;
    opacity: 0.8;
}



h3 {
    color: #426696;
    font-weight: 600;
    opacity: 0.8;
}

main {
    min-height: 100vh;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    display: flex;
    align-items: center;
    justify-content: center;
}

.user img {
    height: 90px;
    width: 75px;
    border-radius: 50%;
}

.glass {
    display: flex;
    background: white;
    min-height: 85vh;
    width: 60%;
    background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
}

.circle1, .circle2{
    background: white;
    background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
    );
    height: 15rem;
    width: 15rem;
    position: absolute;
    border-radius: 50%;
}

.circle1 {
    top: 5%;
    right: 10%;
    /* background: red; */
}

.circle2 {
    bottom: 5%;
    left: 10%;
}

.dashboard {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
    );
    border-radius:2rem;
}

.link {
    display: flex;
    margin: 0rem 0rem;
    padding: 1rem 5rem;
    align-items: center;
}

.link h2 {
    padding: 0rem 2rem;
}

.games {
    flex: 2;
}

.pro {
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    border-radius: 2rem;
    color: white;
    padding: 1rem;
    position: relative;
}

.pro img {
    position: absolute;
    top: -10%;
    right: 10%;
}

.pro h2 {
    width: 40%;
}
































@media screen and (max-width:950px) {
    /* body {
        background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    }

    main {
        margin-top: 2rem;
    }
    .circle1, .circle2 {
        height: 10rem;
        width: 10rem;
    }

    .glass {
        min-height: 60vh;
        width: 55%;
    } */

}