* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: #426696;
    font-weight: 600;
    font-size: 3rem;
    opacity: 0.8;
}

.link a,
a {
    text-decoration: none;

}

h2,
p,
a {
    color: #688ec6;
    font-weight: 500;
    opacity: 0.8;
}

a:hover {
    color: #1c77ff;
}

h3 {
    color: #426696;
    font-weight: 600;
    opacity: 0.8;
}

main {
    font-family: "poppins", sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    display: flex;
    align-items: center;
    justify-content: center;
}

.user img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.glass {
    display: flex;
    background: white;
    max-height: 85vh;
    width: 60%;
    background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
}

.circle1, .circle2{
    background: white;
    background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
    );
    height: 15rem;
    width: 15rem;
    position: absolute;
    border-radius: 50%;
}

.circle1 {
    top: 5%;
    right: 15%;
    /* background: red; */
}

.circle2 {
    bottom: 5%;
    left: 10%;
}

.dashboard {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
    );
    border-radius:2rem;
}

.link {
    display: flex;
    margin: 0rem 0rem;
    padding: 1rem 5rem;
    align-items: center;
}

.link:hover {
    transition: 0.3s;
    font-size: 1.2rem;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    color:#1c77ff;
}

.link h2 {
    padding: 0rem 2rem;
}

.games {
    flex: 2;
}

.pro {
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    border-radius: 2rem;
    color: white;
    padding: 1rem;
    position: relative;
}

.pro img {
    width: 140px;
    height: 140px;
    position: absolute;
    top: -20%;
    right: 10%;
}

.pro h2 {
    width: 40%;
    color: #fff;
    font-weight: 600;
}

/* GGAMES*/

.status {
    margin-bottom: 3rem;
}

.status input {
    background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
    );
    border: none;
    width: 50%;
    padding: 0.5rem;
    border-radius: 2rem;
}

.games {
    margin: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card1, .card2, .card3 {
    display: flex;
    /* height: 5rem; */
    width: 28rem;
    text-align: center;
    padding: 0.2rem;
    background: linear-gradient(to left top,
    rgba(255,255,255, 0.8),
    rgba(255,255,255, 0.5)
    );
    border-radius: 1rem;
    margin: 2rem 0rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
    justify-content: space-between;
}

.card1:hover, .card2:hover, .card3:hover {
    transition: 0.3s;
    height: 8.5rem;
    padding: 0.1rem;
    font-size: 1.13rem;
}

.card1 h2:hover {
    color: red;
}

.card2 h2:hover {
    color: #ff5100;
}

.card3 h2:hover {
    color: darkblue;
}

.progress1{
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    width: 100%;
    height: 25%;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}

.progress1::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    left: 40%;
}

.progress2 {
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    width: 100%;
    height: 25%;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}

.progress2::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    left: 60%;
}

.progress3 {
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    height: 25%;
    width: 100%;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}

.progress3::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    left: 25%;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.percentage {
    font-weight: bold;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


















@media screen and (max-width:950px) {

    /* body {
        background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    }

    main {
        margin-top: 2rem;
    }
    .circle1, .circle2 {
        height: 10rem;
        width: 10rem;
    }

    .glass {
        min-height: 60vh;
        width: 55%;
    } */

}